---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import Layout from "@layouts/default.astro";
import Headline from "@components/headline.astro";
import IntegrationList from "@components/integration-list.astro";
import { getCollection, getEntry, render } from 'astro:content';
import type { CollectionEntry } from "astro:content";
import { themeConfig } from '~/theme.config';
import { useTranslations, getLocaleUrl } from "@utils/i18n";
import "@styles/markdown.css";

export const prerender = false; // We opt out from prerendering, assuming that might be a lot of elements here, while running on Cloudflare worker. Change this, if your case is rather about a small amount of pages

export async function getStaticPaths() {
  const locale = themeConfig.i18n.defaultLocale;
  const entries = (await getCollection('integration_options', ({ id, data }) => {
    return !data.draft && id.startsWith(locale + '/');
  })) as CollectionEntry<'integration_options'>[];

  return entries.map((entry) => {
    const slug = entry.id.split('/')[1];
    return {
      params: { type: entry.data.type, item: slug },
    };
  });
}

const { type, item } = Astro.params;

const locale = themeConfig.i18n.defaultLocale;
const t = useTranslations(locale);
const entry = (await getEntry('integration_options', `${locale}/${item}`)) as CollectionEntry<'integration_options'>;
const { Content } = await render(entry);
---

<Layout title={entry.data.title} description={entry.data.description} {locale} header={{ button: { text: t('labels.explore-more'), href: getLocaleUrl('integration', locale) } }}>
  <Headline text={t(`pages.integration-${type}.title`)} class="pb-10" />
  <div class="flex flex-col gap-10 lg:flex-row">
    <IntegrationList {type} {locale} currentItem={item} />
    <article class="grow">
      <div class="mt-2 mb-4 flex items-start justify-between gap-4">
        <h1 class="text-3xl font-bold sm:text-4xl">{entry.data.title}</h1>
        {(entry.data.logo?.file || entry.data.logo?.url) && (
          <div class="flex h-16 sm:h-20 shrink-0 items-center justify-center overflow-hidden rounded-lg border border-stone-200 bg-white p-2 dark:border-stone-800 dark:bg-black">
            {entry.data.logo.file ? (
              <Image
                src={entry.data.logo.file}
                alt={entry.data.logo.alt ?? ''}
                class="h-full w-auto object-contain"
                draggable="false" priority
              />
            ) : entry.data.logo?.url ? (
              <Image
                src={entry.data.logo.url}
                alt={entry.data.logo.alt ?? ''}
                class="h-full w-auto object-contain"
                draggable="false" priority inferSize
              />
            ) : ''
            }
          </div>
        )}
      </div>
      {entry.data.description && <p class="mb-6 text-lg opacity-80">{entry.data.description}</p>}
      {entry.data.url && (
        <a
          href={entry.data.url}
          target="_blank"
          rel="noopener noreferrer"
          class="btn-primary external-link mb-10 w-fit"
        >
          <span>{entry.data.service}</span>
          <Icon name="heroicons:arrow-top-right-on-square" class="h-5 w-5" />
        </a>
      )}
      <div class="markdown-content text-left">
        <Content />
      </div>
    </article>
  </div>
</Layout>
