---
import { Icon } from "astro-icon/components";
import { useTranslations, getLocaleUrl } from "@utils/i18n";
import { themeConfig } from '~/theme.config';
import Logo from '@images/logo-footer.svg';
import FooterNav from "@components/layout/nav/footer-nav.astro";
import LegalNav from "@components/layout/nav/legal.astro";
import LightModeSwitch from "@components/layout/light-mode-switch.astro";
import NewsletterSignup from "@components/promo/newsletter-signup.astro";

interface Props {
  locale: string;
  isError?: boolean;
  isHome?: boolean;
}

const { locale, isError, isHome } = Astro.props as Props;
const t = useTranslations(locale);
---

<footer role="contentinfo" class="from-secondary-dark bg-linear-to-t to-stone-900 pt-14">
  <div class="container flex flex-col items-start justify-between gap-20 px-7 md:flex-row">
    <div class="flex flex-col items-start gap-5 sm:max-w-[350px]">
      <div class="w-auto max-w-[200px]">
        <a href={getLocaleUrl('/', locale)} class="block w-full select-none">
          <p class="sr-only hidden" id="siteNameLogo">{themeConfig.name}</p>
          <Logo class="h-auto w-full drop-shadow" aria-labelledby="siteNameLogo" />
        </a>
      </div>
      <div class="flex flex-col gap-1 text-left text-balance text-stone-50">
        <div class="text-sm font-semibold">{t('meta.slogan')}</div>
        <div class="text-xs">{t('meta.sub-slogan')}</div>
      </div>
      <div class="flex items-center justify-center space-x-6 lg:justify-start lg:space-x-3">
        <a class="btn-subtle rounded-full p-1" title="Work with us on GitHub" target="_blank" rel="noopener" href="https://github.com/peltmonger/stardrive"><Icon name="fa6-brands:github" class="h-5 w-5" /></a>
        <a class="btn-subtle rounded-full p-1.5" title="Follow us on X" target="_blank" rel="noopener" href={'https://x.com/' + themeConfig.xHandle}><Icon name="fa6-brands:x-twitter" class="h-4 w-4" /></a>
        <a class="btn-subtle rounded-full p-1.5" title="Follow us on LinkedIn" target="_blank" rel="noopener" href="https://www.linkedin.com/company/peltmonger"><Icon name="fa6-brands:linkedin" class="h-4 w-4" /></a>
      </div>
    </div>
    <div class="flex w-full flex-col md:w-fit">
      <FooterNav {locale} {isHome} />
      {(themeConfig.promotions?.newsletterSignup === true || themeConfig.promotions?.newsletterSignup === 'footer') && <NewsletterSignup {locale} inFooter={true} />}
    </div>
  </div>
  <div class="container mt-10 flex flex-col flex-wrap items-center justify-between gap-x-14 gap-y-6 border-t border-white/10 py-6 pt-7 sm:flex-row-reverse">
    <div class="flex items-center gap-6 lg:gap-4">
      {
        !isError ? (
          <button id="open-language-menu" aria-label={t('i18n.select-language')} class="btn-subtle rounded-full p-1.5">
            <Icon name="heroicons:language" class="h-4 w-4" />
          </button>
        ) : (
          ''
        )
      }
      {themeConfig.darkMode && <LightModeSwitch label={t('labels.change-light-mode')} />}
    </div>
    <LegalNav {locale} />
  </div>
</footer>
