---
import { Icon } from "astro-icon/components";
import { themeConfig } from '~/theme.config';
import { useTranslations } from "@utils/i18n";
import type { SocialButtons } from '~types/theme-config';

interface Props {
  url: string;
  emailSubject?: string;
  title?: string;
  xHandle?: string;
  buttons?: SocialButtons;
  buttonsSmallScreen?: SocialButtons;
  locale: string;
}

const { url, emailSubject, title, buttons, buttonsSmallScreen, locale } = Astro.props;
const encoded_url = encodeURIComponent(url);
const xHandle = Astro.props.xHandle || themeConfig.articles?.social?.xHandle;
const t = useTranslations(locale);

const activeButtons = buttons || themeConfig.articles?.social?.buttons;
const activeButtonsSmallScreen = buttonsSmallScreen || themeConfig.articles?.social?.buttonsSmallScreen || activeButtons;
---

{
  activeButtons && Object.keys(activeButtons).length > 0 && activeButtonsSmallScreen && (
    <div class="social-share-buttons text-text dark:text-text-dark flex flex-wrap gap-3">
      <a href={`mailto:?subject=${emailSubject}&body=${encoded_url}`} target="_blank" aria-label={t('labels.share-article') + ': ' + t('labels.email')} rel="noreferrer noopener" class:list={[activeButtonsSmallScreen.email ? 'flex' : 'hidden', activeButtons.email ? 'md:flex' : 'md:hidden']}>
        <Icon name="heroicons:envelope" class="h-5 w-5" />
      </a>

      <a href={`https://www.facebook.com/sharer/sharer.php?u=${encoded_url}`} target="_blank" aria-label={t('labels.share-article') + ': Facebook'} rel="noreferrer noopener" class:list={[activeButtonsSmallScreen.facebook ? 'flex' : 'hidden', activeButtons.facebook ? 'md:flex' : 'md:hidden']}>
        <Icon name="fa6-brands:facebook-f" class="h-4 w-4" />
      </a>

      <a href={`http://news.ycombinator.com/submitlink?u=${encoded_url}&t=${title}`} target="_blank" aria-label={t('labels.share-article') + ': Hackernews / YCombinator'} rel="noreferrer noopener" class:list={[activeButtonsSmallScreen.hackernews ? 'flex' : 'hidden', activeButtons.hackernews ? 'md:flex' : 'md:hidden']}>
        <Icon name="fa6-brands:hacker-news" class="h-5 w-5" />
      </a>

      <a href={`https://www.linkedin.com/sharing/share-offsite/?url=${encoded_url}`} target="_blank" aria-label={t('labels.share-article') + ': LinkedIn'} rel="noreferrer noopener" class:list={[activeButtonsSmallScreen.linkedin ? 'flex' : 'hidden', activeButtons.linkedin ? 'md:flex' : 'md:hidden']}>
        <Icon name="fa6-brands:linkedin-in" class="h-5 w-5" />
      </a>

      <a href={`https://pinterest.com/pin/create/button/?url=${encoded_url}`} target="_blank" aria-label={t('labels.share-article') + ': Pinterest'} rel="noreferrer noopener" class:list={[activeButtonsSmallScreen.pinterest ? 'flex' : 'hidden', activeButtons.pinterest ? 'md:flex' : 'md:hidden']}>
        <Icon name="fa6-brands:pinterest-p" class="h-5 w-5" />
      </a>

      <a href={`https://www.reddit.com/submit?url=${encoded_url}&title=${title}`} target="_blank" aria-label={t('labels.share-article') + ': Reddit'} rel="noreferrer noopener" class:list={[activeButtonsSmallScreen.reddit ? 'flex' : 'hidden', activeButtons.reddit ? 'md:flex' : 'md:hidden']}>
        <Icon name="fa6-brands:reddit-alien" class="h-5 w-5" />
      </a>

      <a href={`https://t.me/share/url?url=${encoded_url}`} target="_blank" aria-label={t('labels.share-article') + ': Telegram'} rel="noreferrer noopener" class:list={[activeButtonsSmallScreen.telegram ? 'flex' : 'hidden', activeButtons.telegram ? 'md:flex' : 'md:hidden']}>
        <Icon name="fa6-brands:telegram" class="h-6 w-6" />
      </a>

      <a href={`https://x.com/intent/post?url=${encoded_url}` + (xHandle ? `&via=${xHandle}` : '')} target="_blank" aria-label={t('labels.share-article') + ': X'} rel="noreferrer noopener" class:list={[activeButtonsSmallScreen.x ? 'flex' : 'hidden', activeButtons.x ? 'md:flex' : 'md:hidden']}>
        <Icon name="fa6-brands:x-twitter" class="h-5 w-5" />
      </a>

      <a href={`https://api.whatsapp.com/send?text=${encoded_url}`} target="_blank" aria-label={t('labels.share-article') + ': WhatsApp'} rel="noreferrer noopener" class:list={[activeButtonsSmallScreen.whatsapp ? 'flex' : 'hidden', activeButtons.whatsapp ? 'md:flex' : 'md:hidden']}>
        <Icon name="fa6-brands:whatsapp" class="h-5 w-5" />
      </a>
    </div>
  )
}

<style>
  @reference "../../styles/tailwind.config.css";

  .social-share-buttons a {
    @apply hover:border-primary hover:bg-primary ring-primary flex cursor-pointer items-center gap-2 rounded-full border border-stone-300 bg-stone-200 fill-current p-1.5 font-semibold whitespace-nowrap text-stone-950 no-underline select-none visited:text-start focus-within:ring-2 hover:text-white hover:shadow focus:outline-0 dark:border-stone-100 dark:bg-stone-300;
  }
</style>
