---
import "@fontsource/geist/400.css";
import "@fontsource/geist/600.css";
import "@fontsource/geist/800.css";
import "@styles/global.css";
import { ClientRouter } from 'astro:transitions';
import Footer from "@components/layout/footer.astro";
import TopBanner from "@components/promo/top-banner.astro";
import NewsletterSignup from "@components/promo/newsletter-signup-wrapper.astro";
import FooterBanner from "@components/promo/footer-banner.astro";
import Header from "@components/layout/header.astro";
import Hero from "@components/layout/hero.astro";
import HeadBase from "@components/head/base.astro";
import HeadHrefLang from "@components/head/hreflang.astro";
import HeadOgX from "@components/head/ogx.astro";
import WebsiteStructuredData from "@components/structured/website.astro";
import WebPageStructuredData from "@components/structured/webpage.astro";
import LanguageSelect from "@components/layout/language-select.astro";
import WebMCPTools from "@components/webmcp-tools.astro";
import { useTranslations, getLocaleUrl } from "@utils/i18n";
import { themeConfig } from '~/theme.config';
import type { CollectionKey } from "astro:content";

interface Props {
  title?: string;
  description?: string;
  header?: {
    /** Hides the header */
    hidden?: boolean;
    /** Makes the header stick to the top of the page */
    fixed?: boolean;
    /** Puts the header above the content (overlay) */
    overlay?: boolean;
    /** Pixels scrolled before showing scroll header (default: header out of viewport) */
    scrollDownThreshold?: number;
    /** Show a close icon instead of the site name or button */
    closeIcon?: boolean;
    /** Show a button instead of the site name. (For example, "Back to articles" when used in an article page header.) */
    button?: {
      text: string;
      href: string;
    };
    /** Force hide or show the top banner */
    showTopBanner?: boolean;
  };
  showFooterBanner?: boolean; // Force hide or show the footer banner
  robots?: string;
  isError?: boolean;
  locale?: string;
  noi18n?: boolean;
  isHome?: boolean;
  noTitleSlug?: boolean; // if true, the title slug (e.g. " | Stardrive") will not be added to the title
  schemaType?: 'WebPage' | 'FAQPage';
  collection?: CollectionKey; // we need this (for things like events or integration_options) to identify whether pages are translated or not
  contentId?: string; // we need this (for things like events or integration_options) to identify whether pages are translated or not
  noContainer?: boolean; // if true, the content will not be wrapped in a container div (useful for full-width pages like the homepage)
}

const locale = Astro.props.locale || themeConfig.i18n.defaultLocale;
const t = useTranslations(locale);

const title = Astro.props.title || t('meta.title');
const description = Astro.props.description || t('meta.description');
const { isError, noi18n, noTitleSlug, robots, isHome, schemaType, header, showFooterBanner, collection, contentId, noContainer } = Astro.props;

const ogTitle = themeConfig.ogTitle ?? t('meta.og-site-name');
const metaTitle = noTitleSlug ? title : title + ' | ' + t('meta.slug');

const structuredDataImage = '/images/structured-preview.png'; // inside the public dir; 16:9, min 1920x1080px recommended
const type = schemaType || 'WebPage';
const i18nStructured = themeConfig.i18n.translatedStructuredData ? themeConfig.i18n.translatedStructuredData[locale.toString()] : null;
const author = {
  '@type': themeConfig.author.type,
  name: locale !== themeConfig.i18n.defaultLocale && i18nStructured?.author?.name ? i18nStructured.author.name : themeConfig.author.name,
  url: locale !== themeConfig.i18n.defaultLocale && i18nStructured?.author?.url ? i18nStructured.author.url : themeConfig.author.url,
  image: themeConfig.author.image && themeConfig.author.image !== '' ? themeConfig.author.image : undefined,
};
const publisher = {
  '@type': themeConfig.publisher.type,
  name: locale !== themeConfig.i18n.defaultLocale && i18nStructured?.publisher?.name ? i18nStructured.publisher.name : themeConfig.publisher.name,
  url: locale !== themeConfig.i18n.defaultLocale && i18nStructured?.publisher?.url ? i18nStructured.publisher.url : themeConfig.publisher.url,
  image: themeConfig.publisher.image && themeConfig.publisher.image !== '' ? themeConfig.publisher.image : undefined,
};

const showTopBanner = (themeConfig.promotions?.topBanner && header?.showTopBanner !== false) || header?.showTopBanner;
---

<!doctype html>
<html lang={locale}>
  <head>
    <HeadBase title={metaTitle} {description} {locale} {robots} {isError} />
    <HeadHrefLang {locale} {noi18n} {collection} {contentId} />
    <HeadOgX {locale} title={metaTitle} {description} {ogTitle} />
    <!-- Structured Data -->
    {isHome ? <WebsiteStructuredData {title} image={structuredDataImage} {author} {publisher} {locale} /> : null}
    <WebPageStructuredData {type} {title} {description} image={structuredDataImage} {author} {publisher} {locale} />
    <!-- Transitions -->
    <ClientRouter />
  </head>
  <body>
    {showTopBanner ? <TopBanner {locale} /> : null}
    <div class="relative w-full">
      {
        header?.hidden !== true && (
          <Header {locale} button={header?.button ?? undefined} github="https://github.com/Peltmonger/stardrive" ctaButton={{ text: t('labels.signup'), href: getLocaleUrl('signup', locale) }} {isHome} fixed={header?.fixed} overlay={header?.overlay} overlayTheme="dark" scrollDownThreshold={header?.scrollDownThreshold} closeIcon={header?.closeIcon} hasTopBanner={showTopBanner} />
        )
      }
      <main role="main" class="relative z-40">
        {isHome && <Hero {locale} />}
        {
          !noContainer ? (
            <div class="container mx-auto pt-4 pb-10 md:pt-8 md:pb-14 lg:pb-16">
              <slot />
            </div>
          ) : (
            <slot />
          )
        }
      </main>
      {(themeConfig.promotions?.footerBanner && showFooterBanner !== false) || showFooterBanner ? <FooterBanner {locale} /> : null}
      {themeConfig.promotions?.newsletterSignup === 'bottom' && <NewsletterSignup {locale} />}
      <Footer {locale} {isError} {isHome} />
    </div>
    <LanguageSelect {noi18n} {collection} {contentId} {locale} />
    <WebMCPTools {locale} />
  </body>
</html>
